*{
    margin: 0;
    padding: 0;
}
.navbar-image{
    width: 60px;
}
#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}
.card img{
    max-width: 50vh;
    height: 22rem;
}
.card{
    margin-left: 3vh;
    width: 40vh;
    margin-bottom: 5vh;
}
.btnDetalhesFilme{
    width: 10vh;
    border-radius: 15px;
    background-color: #1E90FF;
    color: #fff;
    border-style: groove;
}
.btnDetalhesFilme:hover{
    background-color: #fff;
    color: #1E90FF;
}